@* snakeHighscore Template File *@
@(scores:Seq[HighScore])(implicit request: RequestHeader)

@main("Snecc Highscore") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/SnakeStyle.css")">
	<head>
		<h2>Snake.io</h2>
	</head>
	
	<body>
		<div>&nbsp</div>
		<h2>All-Time High Scores</h2>
		<table border="1">
		<tr><th>Username</th><th>Score</th>
		@for(u<-scores){
			<tr><td>@u.username</td>  <td>@u.score</td>
		}
		</table>
		<div>&nbsp</div>
				
		<div>&nbsp</div>
		
		<form id="logout" action="@routes.DatabaseController.loginPage" method="GET">
			<button type="submit">Go Back</button>
		</form>
	</body>
}