@* snakeLogin Template File *@
@(UserForm: Form[NewUser],LoginForm:Form[Login])(implicit request: MessagesRequestHeader, flash:Flash)

@main("Snecc out"){

	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/SnakeStyle.css")">
	<head>
		<h2>Snake.io</h2>
	</head>
	
	<body>
		<div>&nbsp</div>
		<h2>Login In:</h2>
		@helper.form(action = helper.CSRF(routes.DatabaseController.login)) {
	<input type="hidden" name="userID" value=0 />
	  @helper.inputText(LoginForm("username"))
	  @helper.inputPassword(LoginForm("password"))
	  <input type="submit" value="Submit">
	}
		<div>&nbsp</div>
	
		<h2>Don't have an account? Register:</h2>
		@helper.form(action = helper.CSRF(routes.DatabaseController.addUser)) {
		<input type="hidden" name="userID" value=0 />
	 	@helper.inputText(UserForm("username"))
	  	@helper.inputPassword(UserForm("password"))
	  	<input type="submit" value="Submit">
	}
		<div>&nbsp</div>
	
		<form id="highscore" action="@routes.DatabaseController.highscores" method="GET">
			<button type="submit">View All-Time High Scores</button>
		</form>
	</body>
}