@* snakeLogin Template File *@
@()(implicit request: RequestHeader)

@main("Snecc out"){

	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/SnakeStyle.css")">
	<head>
		<h2>Snake.io</h2>
	</head>
	
	<body>
		<div>&nbsp</div>
		<h2>Login In:</h2>
		<form id="login" action="@routes.SnakeController.view" method="GET">
			Username: <input type="user" name="username">
			<br>
			Password: <input type="password" name="password">
			<br>
			<button type="submit">Login</button><br>
		</form>
	
		<div>&nbsp</div>
	
		<h2>Don't have an account? Register:</h2>
		<form id="register" action="@routes.SnakeController.view" method="GET">
			Username: <input type="user" name="newUser">
			<br>
			Password: <input type="password" name="newPass">
			<br>
			<button type="submit">Register</button><br>
		</form>
	
		<div>&nbsp</div>
	
		<form id="highscore" action="@routes.SnakeController.highscores" method="GET">
			<button type="submit">View All-Time High Scores</button>
		</form>
	</body>
}
