
@* snakeGame Canvas File *@

@(userID: String)(implicit request: RequestHeader)

@main("Snake Time!") {

   <h2>Snake Game!</h2>
   
   
   <div>&nbsp</div>
   Welcome snake friend, <span id="userID">@userID</span>
   <div>&nbsp</div>
   
   <canvas id = "snakeCanvas" width = "500" height = "500"></canvas>
   
   <form id="logout" action="@routes.DatabaseController.logout()" method="POST">
   @helper.CSRF.formField
   		<input name="highDeathScore" id="highDeathScore" type="hidden" value="0">
   		<input name="id" id="id" type="hidden" value=@userID>
   		<button type="submit">Logout</button>
	</form>

}
   @scalajs.html.scripts("CSCI3345-S18-client",routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)

